{% extends "base/base.html" %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block body %}
<div class="forms">
  <form method="POST">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="form-group wrapper">
      <label for="id_old_password">OLD PASSWORD:</label>
      {{ form.old_password }}
    </div>

    <div class="form-group wrapper">
      <label for="id_new_password1">NEW PASSWORD:</label>
      {{ form.new_password1 }}
    </div>

    <div class="form-group wrapper">
      <label for="id_new_password2">CONFIRM PASSWORD:</label>
        {{ form.new_password2 }}
      </div>
  
      <div class="button-group">
        <button type="submit" class="button">Change Password</button>
      </div>
    </form>
  </div>
  {% endblock %}