{% extends "base/base.html" %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block body %}
{% if validlink %}
<div class="forms">
  <form method="POST">
    {% csrf_token %}

    <div class="form-group wrapper">
      <label for="id_new_password1">NEW PASSWORD:</label>
      {{ form.new_password1 }}
    </div>

    <div class="form-group wrapper">
      <label for="id_new_password2">CONFIRM PASSWORD:</label>
      {{ form.new_password2 }}
    </div>

    <div class="button-group">
      <button type="submit" class="button">UPDATE</button>
    </div>
  </form>
</div>
{% else %}
  <div class="title">無効なリンクです</div>
  <div class="description">
    このリンクはすでに使用されたか、有効期限が切れています。<br>
    再度パスワード再設定を行ってください。
  </div>
{% endif %}
{% endblock %}
