{% extends "base/base.html" %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block body %}
<div class="forms">

  <!-- メールアドレス表示 -->
  <div class="form-group wrapper">
    <label>NEW EMAIL:</label>
    <div class="readonly">{{ new_email }}</div>
  </div>

  <!-- パスワードフォーム -->
  <form method="POST">
    {% csrf_token %}
    <div class="form-group wrapper">
      <label for="id_password">PASSWORD:</label>
      {{ form.password }}
    </div>

    <div class="button-group">
      <button type="submit" class="button">UPDATE</button>
    </div>
  </form>
</div>
{% endblock %}
